<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.renhe.security.mapper.RoleMapper" >

    <sql id="baseColumnSql">
        id,name,code,type,url,icon,visible,parent_id,seq,created_at,updated_at
    </sql>


    <select id="findById" parameterType="string" resultType="com.renhe.security.entity.Resource" >
        select
        <include refid="baseColumnSql"/>
        from usr_resource where id = #{id}
    </select>


    <select id="queryByParams" parameterType="com.renhe.security.vo.ResourceVo" resultType="com.renhe.security.entity.Resource" >
        select
        <include refid="baseColumnSql"/>
        from usr_resource  where  id is not null
        <if test="type!='' and type!=null">
            and type = #{type}
        </if>
        order by seq
    </select>

    <insert id="save" parameterType="com.renhe.security.entity.Resource">
         insert into usr_resource
         (
            id,name,code,type,url,icon,visible,parent_id,seq,created_at,updated_at
         )values(
            #{id},
            #{name},
            #{code},
            #{type},
            #{url},
            #{icon},
            #{visible},
            #{parentId},
            #{seq},
            #{createdAt},
            #{updatedAt}

         )
    </insert>

    <update id="destroy" parameterType="string">
       delete from usr_resource where id = #{id}
    </update>

    <update id="update" parameterType="com.renhe.security.entity.Resource">
        update usr_resource
        <set>
            <if test="name!=null">
                name = #{name},
            </if>
            <if test="code!=null">
                code = #{code},
            </if>
            <if test="type!=null">
                type = #{type},
            </if>
            <if test="url!=null">
                url = #{url},
            </if>
            <if test="icon!=null">
                icon = #{icon},
            </if>
            <if test="visible!=null">
                visible = #{visible},
            </if>
            <if test="seq!=null">
                seq = #{seq},
            </if>

        </set>
        where id = #{id}
    </update>

    <insert id="bind" parameterType="java.util.Map">
        insert into usr_role_resource(role_id,resource_id)
        values
        <foreach collection="resourceIds" item="item" separator=",">
            (#{roleId},#{item})
        </foreach>
    </insert>

    <delete id="release" parameterType="string">
        delete from usr_role_resource where role_id = #{roleId}
    </delete>




</mapper>