<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.renhe.security.mapper.UserMapper" >

    <sql id="baseColumnSql">
        id,name,user_name,password,mobile,status,created_at,updated_at,role
    </sql>

    <select id="findByUserNameAndPassword" parameterType="map" resultType="com.renhe.security.entity.User" >
       select
       <include refid="baseColumnSql"/>
       from usr_user where user_name = #{userName,jdbcType=VARCHAR} and password = #{password} and status = 'USE' limit 1
    </select>


    <select id="findById" parameterType="string" resultType="com.renhe.security.entity.User" >
        select
        <include refid="baseColumnSql"/>
        from usr_user where id = #{id}
    </select>


    <select id="queryByParams" parameterType="com.renhe.security.vo.UserVo" resultType="com.renhe.security.entity.User" >
        select
        <include refid="baseColumnSql"/>
        from usr_user  where  status = 'USE'
        <if test="userName!=''">
            and user_name = #{userName}
        </if>
        <if test="name!=''">
            and name like concat('%',#{name},'%')
        </if>
    </select>

    <insert id="save" parameterType="com.renhe.security.entity.User">
         insert into usr_user
         (
            id,name,user_name,password,mobile,status,created_at,updated_at,role
         )values(
            #{id},
            #{name},
            #{userName},
            #{password},
            #{mobile},
            #{status},
            #{createdAt},
            #{updatedAt},
            #{role}
         )
    </insert>

    <update id="destroy" parameterType="string">
        update usr_user set status ='UNUSE' where id = #{id}
    </update>

    <update id="update" parameterType="com.renhe.security.entity.User">
        update usr_user
        <set>
            <if test="name!=null">
                name = #{name},
            </if>
            <if test="password!=null">
                password = #{password},
            </if>
            <if test="mobile!=null">
                mobile = #{mobile},
            </if>
            <if test="role!=null">
                role = #{role},
            </if>
        </set>
        where id = #{id}
    </update>





</mapper>