<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>号码过滤工具</title>
    <script src="static/js/jquery.min.js" type="text/javascript"></script>
    <script src="static/js/jquery.uploadifive.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="static/css/uploadifive.css">
    <style type="text/css">
        body {
            font: 13px Arial, Helvetica, Sans-serif;
        }
        .uploadifive-button {
            float: left;
            margin-right: 10px;
        }
        #queue {
            border: 1px solid #E5E5E5;
            height: 177px;
            overflow: auto;
            margin-bottom: 10px;
            padding: 0 3px 3px;
            width: 300px;
        }
    </style>
</head>

<body>
<h1>号码过滤器</h1>
<form>

    <div style="margin: 10px 0px;">
    <select name="areaCode" style="width: 300px;height: 36px;line-height: 34px;" >
        <option value="10">北京</option>
        <option value="22">天津</option>
        <option value="XXX">河南</option>
        <option value="371">河南-郑州/开封</option>
        <option value="379">河南-洛阳</option>
        <option value="375">河南-平顶山</option>
        <option value="372">河南-安阳</option>
        <option value="392">河南-鹤壁</option>
        <option value="373">河南-新乡</option>
        <option value="391">河南-焦作</option>
        <option value="393">河南-濮阳</option>
        <option value="374">河南-许昌</option>
        <option value="395">河南-漯河</option>
        <option value="398">河南-三门峡</option>
        <option value="377">河南-南阳</option>
        <option value="370">河南-商丘</option>
        <option value="376">河南-信阳</option>
        <option value="394">河南-周口</option>
        <option value="396">河南-驻马店</option>
        <option value="XXX">河北</option>
        <option value="316">河北-廊坊市</option>
        <option value="311">河北-石家庄市</option>
        <option value="318">河北-衡水市</option>
        <option value="317">河北-沧州市</option>
        <option value="314">河北-承德市</option>
        <option value="313">河北-张家口市</option>
        <option value="312">河北-保定市</option>
        <option value="319">河北-邢台市</option>
        <option value="310">河北-邯郸市</option>
        <option value="335">河北-秦皇岛市</option>
        <option value="315">河北-唐山市</option>
        <option value="XXXX">四川</option>
        <option value="28">四川-成都</option>
        <option value="23">四川-重庆</option>
    </select>
    </div>
    <div id="queue"></div>

    <input id="file_upload" name="uploadFile" type="file" multiple="true">
    <a href="javascript:;" id="download" style="display: none;">点击下载结果</a>


</form>

<script type="text/javascript">
    $(function() {


        $('select[name="areaCode"]').change(function(){
            var val = this.value;
            if(val=='XXX'){
                var _option = $(this).find("option:selected").text();
                var arr=[];
                $('option',$(this)).each(function(i,n){
                   var _text = $.trim(n.innerText);
                   if(_text && _text!=_option && _text.indexOf(_option)==0){
                        arr.push(n.value);
                   }
                });
                val = arr.join(",");
                console.log(val);
            }

            $('#file_upload').data('uploadifive').settings.formData = { 'areaCode': val};
            $('#file_upload').uploadifive('upload');
        });



        $('#file_upload').uploadifive({
            'auto'             : true,
            'fileObjName' : 'uploadFile',
            'fileTypeExts' : '*.gif; *.jpg; *.png',
            'formData': {'areaCode':'10'},
            'method': 'post',
            'queueID'          : 'queue',
            'uploadScript'     : '/phone/upload',
            'onUploadComplete' : function(file, data) {
                if(data){
                    data = JSON.parse(data);
                    if(data.rcode==0){
                        $('#download').attr("href","/phone/download?file="+data.data).show();
                    }
                }
            }
        });

    });
</script>
</body>
</html>