<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.renhe.tenant.mapper.TenantMapper" >


    <sql id="baseColumnSql">
        id,tenant_code,name,contact_name,contact_phone,email,address,remark,status,creator_id,operator_id,created_at,updated_at,ip,tenant_type,balance,overdraft
    </sql>

    <select id="findById" parameterType="string" resultType="com.renhe.tenant.entity.Tenant" >
       select
       <include refid="baseColumnSql"/>
       from acc_tenant
       where id = #{id}
    </select>


    <select id="queryByParams" parameterType="com.renhe.tenant.vo.TenantVo" resultType="com.renhe.tenant.entity.Tenant" >
        select
        <include refid="baseColumnSql"/>
        from acc_tenant  where  status !='0'
        <if test="tenantCode!='' and tenantCode!=null">
            and tenant_code = #{tenantCode}
        </if>
        <if test="name!='' and name !=null ">
            and name like concat('%',#{name},'%')
        </if>
        <if test="ip!='' and ip!=null">
            and ip  = #{ip}
        </if>
        <if test="contactName!='' and contactName != null ">
            and contact_name like concat('%',#{contactName},'%')
        </if>

        <if test="email!='' and email != null">
            and email = #{email}
        </if>
        <if test="status!='' and status != null">
            and status = #{status}
        </if>
        <if test="tenantType!='' and tenantType != null">
            and tenant_type = #{tenantType}
        </if>
        order by created_at desc
    </select>

    <insert id="save" parameterType="com.renhe.tenant.entity.Tenant">
         insert into acc_tenant
         (
            id,tenant_code,name,contact_name,contact_phone,email,address,remark,status,creator_id,operator_id,created_at,updated_at,ip,tenant_type,balance,overdraft
         )values(
            #{id},
            #{tenantCode},
            #{name},
            #{contactName},
            #{contactPhone},
            #{email},
            #{address},
            #{remark},
            #{status},
            #{creatorId},
            #{operatorId},
            #{createdAt},
            #{updatedAt},
            #{ip},
            #{tenantType},
            #{balance},
            #{overdraft}
         )
    </insert>

    <update id="destroy" parameterType="string">
        update acc_tenant set status ='0' where id = #{id}
    </update>

    <update id="update" parameterType="com.renhe.tenant.entity.Tenant">
        update acc_tenant
        <set>
            <if test="name!=null">
                name = #{name},
            </if>
            <if test="contactName!=null">
                contact_name = #{contactName},
            </if>
            <if test="contactPhone!=null">
                contact_phone = #{contactPhone},
            </if>
            <if test="address!=null">
                address = #{address},
            </if>
            <if test="remark!=null">
                remark = #{remark},
            </if>
            <if test="status!=null">
                status = #{status},
            </if>
            <if test="operatorId!=null">
                operator_id = #{operatorId},
            </if>
            <if test="ip!=null">
                ip = #{ip},
            </if>
            <if test="tenantType!=null">
                tenant_type = #{tenantType},
            </if>
            <if test="balance!=null">
                balance = #{balance},
            </if>
            <if test="overdraft!=null">
                overdraft = #{overdraft},
            </if>
        </set>
        where id = #{id}
    </update>





</mapper>