<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.renhe.tenant.mapper.TenantSettingMapper" >


    <sql id="baseColumnSql">
        id,sip_ip,sip_port,to_ip,to_port,username,password,secret_key
    </sql>

    <select id="findById" parameterType="string" resultType="com.renhe.tenant.entity.TenantSetting" >
       select
       <include refid="baseColumnSql"/>
       from acc_tenant_setting
       where  id  = #{id}

    </select>


    <insert id="save" parameterType="com.renhe.tenant.entity.TenantProduct">
         insert into acc_tenant_setting
         (
           id,sip_ip,sip_port,to_ip,to_port,username,password,secret_key,created_at,updated_at
         )values(
            #{id},
            #{sipIp},
            #{sipPort},
            #{toIp},
            #{toPort},
            #{username},
            #{password},
            #{secretKey},
            #{createdAt},
            #{updatedAt}
         )
    </insert>



    <update id="update" parameterType="com.renhe.tenant.entity.TenantSetting">
        update acc_tenant_setting
        <set>
            <if test="sipIp!=null">
               sip_ip = #{sipIp},
            </if>
            <if test="sipPort!=null">
                sip_port = #{sipPort},
            </if>
            <if test="toIp!=null">
                to_ip = #{toIp},
            </if>
            <if test="toPort!=null">
                to_port = #{toPort},
            </if>
            <if test="username!=null">
                username = #{username},
            </if>
            <if test="password!=null">
                password = #{password},
            </if>
            <if test="secretKey!=null">
                secret_key = #{secretKey},
            </if>
        </set>
        where id = #{id}
    </update>


</mapper>