<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.renhe.tenant.mapper.TenantTradeMapper" >


    <sql id="baseColumnSql">
        id,tenant_id, trade_type,amount,pay_type,note,creator_id,created_at
    </sql>


    <select id="queryByParams" parameterType="com.renhe.tenant.vo.TenantTradeVo" resultType="com.renhe.tenant.entity.TenantTrade" >
        select
        <include refid="baseColumnSql"/>
        from acc_tenant_trade  where  tenant_id = #{tenantId}
        <if test="tradeType!='' and tradeType!=null">
            and trade_type = #{tradeType}
        </if>
        <if test="payType!='' and payType!=null">
            and pay_type = #{payType}
        </if>
        <if test="resultType==1">
            and trade_type in (1,3)
        </if>
        <if test="resultType==2">
            and trade_type = 2
        </if>
        <if test="beginAt!=null">
            and created_at &gt;= #{beginAt}
        </if>
        <if test="endAt!=null">
            and created_at &lt;= #{endAt}
        </if>
        order by created_at desc
    </select>




</mapper>